# .NET
bin/
obj/
*.user
*.suo
*.cache
.vs/
.vscode/settings.json

# Environment variables and secrets
.env
.env.local
.env.*.local
*.secret

# Docker
docker-compose.override.yml

# Node.js / React
node_modules/
build/
dist/
.cache/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.idea/
